* {
  margin: 0;
  box-sizing: border-box;
  section {
    padding: 0 !important;
    margin: 25px;
    width: 804px;
  }
}
html {
  font-family: Arial, sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: rgba(32, 41, 25, 0.6);
  display: flex;
  flex-direction: row;
}
img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
}
header {
  width: 90px;
  height: 100%;
  position: fixed;
  width: 100%;
  height: 90px;
}
.centers {
  justify-content: center;
}
nav {
  height: 100%;
  background-color: rgb(30, 33, 29);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;
  a {
    display: block;
    color: white;
    &.logo {
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      padding: 25px;
      width: 60px;
      height: 60px;
      margin-bottom: 50px;
      background-color: black;
      padding: 25px;
      width: 60px;
      height: 60px;
      margin: 0;
    }
  }
  & > * {
    margin: 10px 0;
  }
  .icon {
    width: 100%;
    text-align: center;
    margin-bottom: 2px;
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
    background-color: black;
    padding: 4px 7px;
    border-radius: 10px;
    transition: all 0.5s ease;
    position: absolute;
    bottom: -30px;
  }
  .hoverLink {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120%;
    margin: 0 30px;
    &:hover {
      .hidden {
        visibility: visible;
        opacity: 1;
        transition: all 0.5s ease;
      }
    }
  }
}
.margin {
  margin: 1rem 0;
}
label,
p,
h1,
h2,
h3,
.white,
#white {
  color: white;
}
.titre {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}
.commentaire {
  margin: 0.5rem 0;
  width: 15rem;
  height: auto;
  line-break: anywhere;
}
.aligne {
  text-align: center;
  color: white;
}
.trash {
  margin: 5px auto;
}
.comment {
  box-sizing: border-box;
  padding: 1rem;
}
.fa-trash {
  color: red;
}
.flex {
  display: flex;
  flex-direction: column;
}
.border {
  border-right: 3px solid white;
}
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
  margin-top: 90px;
  margin-left: 0px;
  padding-top: 50px;
}
.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(30, 33, 29);
  color: white;
  border-radius: 15px;
  h1 {
    margin: 20px 0;
    text-align: center;
  }
  .separateur {
    border-top: 4px solid white;
    border-radius: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form {
    width: 100%;
    margin: 25px 0;
    padding: 0 50px;
    & > button {
      background-color: white;
      color: rgb(30, 33, 29);
      border: 1px solid rgb(30, 33, 29);
      border-radius: 15px;
      cursor: pointer;
      padding: 8px 13px;
      transition: all 0.5s ease;
    }
  }
  .blockInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .error {
    color: red;
    font-weight: bold;
  }
  .labelInput {
    label {
      color: rgb(30, 33, 29);
      padding: 0 8px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
    input {
      display: flex;
      color: rgb(30, 33, 29);
      flex-grow: 1;
      border: none;
      padding: 8px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      &::placeholder {
        color: rgb(30, 33, 29);
      }
      &.inputPassword {
        border-radius: 0;
      }
    }
    .viewPassword {
      background-color: white;
      border: none;
      color: rgb(30, 33, 29);
      padding: 0 8px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      & > i {
        font-size: 15px;
      }
    }
  }
  .focus {
    label {
      color: white;
      border-left: 1px solid white;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      background-color: rgb(30, 33, 29);
    }
    input {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      border-right: 1px solid white;
      color: white;
      background-color: rgb(30, 33, 29);
      &.inputPassword {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-right: 0;
      }
      &::placeholder {
        color: white;
      }
    }
    .viewPassword {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      border-right: 1px solid white;
      color: white;
      background-color: rgb(30, 33, 29);
    }
  }
  .more {
    width: 100%;
    padding: 0 30px;
    margin-bottom: 15px;
    a {
      color: white;
    }
  }
}
.formLogin .labelInput,
.flex_row {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  flex-wrap: wrap;
}
.flex_column {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  flex-wrap: wrap;
}
.formLogin form > button:hover,
.formLogin form > button:focus {
  background-color: rgb(30, 33, 29);
  color: white;
  border: 1px solid white;
  transition: all 0.5s ease;
}
.formRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(30, 33, 29);
  color: white;
  border-radius: 15px;
  h1 {
    margin: 20px 0;
    text-align: center;
  }
  .separateur {
    border-top: 4px solid white;
    border-radius: 100%;
    width: 85%;
  }
  form {
    width: 100%;
    margin: 25px 0;
    padding: 0 50px;
    .line {
      display: flex;
      justify-content: space-around;
    }
    & > button {
      background-color: white;
      color: rgb(30, 33, 29);
      border: 1px solid rgb(30, 33, 29);
      border-radius: 15px;
      cursor: pointer;
      padding: 8px 13px;
      transition: all 0.5s ease;
    }
  }
  .blockInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .labelInput {
    display: flex;
    flex-direction: row;
    label {
      color: rgb(30, 33, 29);
      padding: 0 8px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
    input {
      display: flex;
      color: rgb(30, 33, 29);
      flex-grow: 1;
      border: none;
      padding: 8px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      &::placeholder {
        color: rgb(30, 33, 29);
      }
      &.inputPassword {
        border-radius: 0;
      }
    }
    .viewPassword {
      background-color: white;
      border: none;
      color: rgb(30, 33, 29);
      padding: 0 8px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      & > i {
        font-size: 15px;
      }
    }
  }
  .error {
    color: red;
    font-weight: bold;
  }
  .focus {
    label {
      color: white;
      border-left: 1px solid white;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      background-color: rgb(30, 33, 29);
    }
    input {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      border-right: 1px solid white;
      color: white;
      background-color: rgb(30, 33, 29);
      &.inputPassword {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-right: 0;
      }
      &::placeholder {
        color: white;
      }
    }
    .viewPassword {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      border-right: 1px solid white;
      color: white;
      background-color: rgb(30, 33, 29);
    }
  }
  .more {
    width: 100%;
    padding: 0 30px;
    margin-bottom: 15px;
    a {
      color: white;
    }
  }
}
.formRegister form > button:hover,
.formRegister form > button:focus {
  background-color: rgb(30, 33, 29);
  color: white;
  border: 1px solid white;
  transition: all 0.5s ease;
}
section {
  &.dashboard {
    padding: 50px 50px;
    flex: 1;
    height: 100%;
    width: 100%;
    > p {
      font-size: 3rem;
      text-align: center;
    }
    .topDashBoard {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      h1 {
        color: rgb(30, 33, 29);
        font-size: 40px;
      }
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          border-radius: 100%;
          font-size: 40px;
          background-color: white;
          color: rgb(30, 33, 29);
          transition: all 0.5s ease;
        }
        &:hover {
          i {
            background-color: rgb(30, 33, 29);
            color: white;
            font-size: 40px;
            transition: all 0.5s ease;
          }
        }
      }
      .buttonAdd {
        background-color: rgb(30, 33, 29);
        font-size: 40px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        &:hover {
          color: rgb(30, 33, 29);
          background-color: white;
          transition: all 0.5s ease;
        }
      }
    }
    .blockAllList {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .blockCard {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card {
      background-color: rgb(30, 33, 29);
      border-radius: 15px;
      .top {
        padding: 0px 0px 0px 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        & > * {
          color: white;
          text-decoration: none;
        }
        i {
          font-size: 20px;
        }
      }
      .separateur {
        border-top: 1px solid white;
      }
      .bottom {
        padding: 15px 25px 25px 25px;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: space-between;
        p {
          margin: 5px 0px;
        }
        .check {
          text-decoration: line-through;
        }
      }
    }
  }
  &.homepage {
    & > * {
      color: rgb(30, 33, 29);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h1 {
      font-size: 50px;
      margin-bottom: 25px;
    }
    p {
      font-size: 20px;
    }
  }
  &.create {
    padding: 50px 50px;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 35px;
    }
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
    }
    .space {
      justify-content: space-evenly;
    }
    .list_ingredient {
      border-radius: 15px;
      background-color: rgb(30, 33, 29);
      display: flex;
      flex-direction: column;
      .list_ingredients {
        width: 48.2vh;
      }
      * {
        margin: 5px;
      }
      .top {
        width: 100%;
        padding: 20px 20px 10px 20px;
        .error {
          color: red;
        }
      }
      h3 {
        text-align: center;
      }
      .separateur {
        border-top: 4px solid white;
        width: 100%;
      }
      .bottom {
        width: 100%;
        padding: 20px 20px 10px 20px;
        flex-grow: 1;
      }
    }
    .list {
      min-width: 40%;
      border-radius: 15px;
      background-color: rgb(30, 33, 29);
      display: flex;
      flex-direction: column;
      width: 80%;
      .top {
        width: 100%;
        padding: 20px 20px 10px 20px;
        .error {
          color: red;
        }
      }
      .separateur {
        border-top: 4px solid white;
        width: 100%;
      }
      .bottom {
        width: 100%;
        padding: 20px 20px 10px 20px;
        flex-grow: 1;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      input {
        &::placeholder {
          color: white;
        }
      }
      button {
        padding: 10px 10px;
        background-color: transparent;
        border: none;
        color: white;
        border-radius: 100%;
        cursor: pointer;
        transition: background 0.5s ease;
        &:hover {
          background-color: rgb(30, 33, 29);
          transition: background 0.5s ease;
        }
      }
    }
  }
  &.error {
    margin: 50px;
    h1 {
      color: rgb(30, 33, 29);
      font-size: 50px;
    }
    a {
      color: rgb(30, 33, 29);
    }
  }
}
.blockCard {
  & > .card {
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.oeil {
  margin: 5px;
  color: white;
}
.sectionView {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    & > div {
      background-color: rgb(30, 33, 29);
      width: 50%;
      padding: 25px;
      border-radius: 15px;
      width: 80%;
      p {
        color: white;
        margin-bottom: 10px;
        text-align: center;
      }
      & > div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        & > button {
          background-color: white;
          border: 1px solid rgb(30, 33, 29);
          color: rgb(30, 33, 29);
          padding: 10px 15px;
          border-radius: 10px;
          cursor: pointer;
          transition: all 0.5s ease;
          &:hover {
            background-color: rgb(30, 33, 29);
            border: 1px solid white;
            color: white;
            transition: all 0.5s ease;
          }
        }
        & > form {
          & > button {
            background-color: white;
            border: 1px solid rgb(30, 33, 29);
            color: rgb(30, 33, 29);
            padding: 10px 15px;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.5s ease;
            &:hover {
              background-color: rgb(30, 33, 29);
              border: 1px solid red;
              color: white;
              transition: all 0.5s ease;
            }
          }
        }
      }
    }
  }
}
.index {
  flex-direction: column;
}
.form {
  width: 250px;
}
.viewListImg {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background-color: rgb(30, 33, 29);
  min-width: 40vw;
  margin: 0.5rem;
  color: white;
}
.viewListHistorique {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background-color: rgb(30, 33, 29);
  width: 32%;
  margin: 0.5rem;
  color: white;

  .top {
    width: 100%;
    height: 40%;
    padding: 20px 20px 10px 20px;
  }
  #btnDeleteList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: red;
    border-radius: 100%;
    height: 20px;
    transition: all 0.5s ease;
    &:hover {
      background-color: rgb(30, 33, 29);
      transition: all 0.5s ease;
      cursor: pointer;
    }
  }
  & > .bottom {
    width: 100%;
    flex: 1;
    max-height: calc(100% - (15% - 4px));
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .check {
      text-decoration: line-through;
    }
    & > .blockForm {
      height: 15%;
      display: flex;
      margin: 1rem 0;
      form {
        height: 60%;
        width: 100%;
        display: flex;
        input {
          flex: 1;
          background-color: transparent;
          border: none;
          padding: 5px 15px;
          color: white;
          &::placeholder {
            color: white;
          }
        }
        .iconTask {
          padding: 5px 15px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        button {
          margin: 5px;
          padding: 0 20px;
          border: none;
          cursor: pointer;
          border-radius: 100%;
          color: white;
          background-color: transparent;
          transition: background 0.5s ease;
          &:hover {
            background-color: rgb(30, 33, 29);
            transition: background 0.5s ease;
          }
        }
      }
      span {
        margin-left: 10px;
      }
    }
  }
  .blockTask {
    overflow: auto;
    max-height: 85%;
  }
  .task {
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .enleveTodolist {
    display: flex;
    justify-content: space-between;
    min-height: 36px;
    flex-direction: column;
    .showEdit {
      position: relative;
      display: flex;
      flex-grow: 1;
      margin-right: 20px;
      height: 20px;
      cursor: pointer;
      .nameTask {
        font-size: 20px;
        display: flex;
        width: 100%;
        align-items: flex-end;
      }
      .hoverInfo {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        bottom: -25px;
        padding: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: black;
        color: white;
        transition: all 0.5s ease;
      }
      &:hover {
        .hoverInfo {
          visibility: visible;
          opacity: 1;
          transition: all 0.5s ease;
        }
      }
    }
  }
  .btnCheckTrue {
    border: none;
    background-color: rgb(30, 33, 29);
    padding: 7px;
    border-radius: 100%;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover {
      background-color: green;
      transition: all 0.5s ease;
      border-radius: 100%;
      transition: all 0.5s ease;
      i {
        color: white;
        transition: all 0.5s ease;
      }
    }
    i {
      font-size: 20px;
      color: green;
      transition: all 0.5s ease;
    }
  }
  .btnCheckFalse {
    border: none;
    background-color: rgb(30, 33, 29);
    padding: 7px 10px;
    border-radius: 100%;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover {
      background-color: red;
      transition: all 0.5s ease;
      border-radius: 100%;
      transition: all 0.5s ease;
      i {
        color: white;
        transition: all 0.5s ease;
      }
    }
    i {
      font-size: 20px;
      color: red;
      transition: all 0.5s ease;
    }
  }
  .error {
    color: red;
    font-weight: 900;
    margin-top: 8px;
  }
  .afficheInput {
    display: flex;
    min-height: 36px;
  }
  .formEdit {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    .labelInput {
      display: flex;
      flex-grow: 1;
      label {
        color: white;
        padding: 0 8px;
        display: flex;
        border-bottom: 1px solid white;
        align-items: center;
        justify-content: center;
      }
      input {
        display: flex;
        color: white;
        border: none;
        flex-grow: 1;
        background-color: transparent;
        border-bottom: 1px solid white;
        padding: 8px;
        &::placeholder {
          color: white;
        }
      }
    }
    .focus {
      label {
        color: white;
        border-top-left-radius: 5px;
        padding: 0 8px;
        display: flex;
        border-bottom: 1px solid white;
        align-items: center;
        background-color: rgb(30, 33, 29);
        justify-content: center;
      }
      input {
        display: flex;
        color: white;
        border: none;
        flex-grow: 1;
        background-color: rgb(30, 33, 29);
        border-bottom: 1px solid white;
        padding: 8px;
        &::placeholder {
          color: white;
        }
      }
    }
    button {
      border: none;
      border-bottom: 1px solid white;
      background-color: transparent;
      width: 35px;
      color: white;
      border-top-right-radius: 5px;
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover {
        background-color: rgba(38, 89, 255, 0.19);
        transition: all 0.5s ease;
      }
    }
  }
  .formDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    button {
      background-color: transparent;
      border-radius: 100%;
      border: none;
      padding: 5px;
      width: 35px;
      height: 35px;
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover {
        background-color: rgb(30, 33, 29);
        transition: all 0.5s ease;
      }
      i {
        font-size: 20px;
        color: red;
      }
    }
  }
  .hiddenEdit {
    display: none;
  }
}
.viewList {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background-color: rgb(30, 33, 29);
  width: 40vw;
  margin: 0.5rem;
  color: white;

  .top {
    width: 100%;
    height: 40%;
    padding: 20px 20px 10px 20px;
  }
  #btnDeleteList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: red;
    border-radius: 100%;
    height: 20px;
    transition: all 0.5s ease;
    &:hover {
      background-color: rgb(30, 33, 29);
      transition: all 0.5s ease;
      cursor: pointer;
    }
  }
  & > .bottom {
    width: 100%;
    flex: 1;
    max-height: calc(100% - (15% - 4px));
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .check {
      text-decoration: line-through;
    }
    & > .blockForm {
      height: 15%;
      display: flex;
      margin: 1rem 0;
      form {
        height: 60%;
        width: 100%;
        display: flex;
        input {
          flex: 1;
          background-color: transparent;
          border: none;
          padding: 5px 15px;
          color: white;
          &::placeholder {
            color: white;
          }
        }
        .iconTask {
          padding: 5px 15px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        button {
          margin: 5px;
          padding: 0 20px;
          border: none;
          cursor: pointer;
          border-radius: 100%;
          color: white;
          background-color: transparent;
          transition: background 0.5s ease;
          &:hover {
            background-color: rgb(30, 33, 29);
            transition: background 0.5s ease;
          }
        }
      }
      span {
        margin-left: 10px;
      }
    }
  }
  .blockTask {
    overflow: auto;
    max-height: 85%;
  }
  .task {
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .enleveTodolist {
    display: flex;
    justify-content: space-between;
    min-height: 36px;
    flex-direction: column;
    .showEdit {
      position: relative;
      display: flex;
      flex-grow: 1;
      margin-right: 20px;
      height: 20px;
      cursor: pointer;
      .nameTask {
        font-size: 20px;
        display: flex;
        width: 100%;
        align-items: flex-end;
      }
      .hoverInfo {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        bottom: -25px;
        padding: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: black;
        color: white;
        transition: all 0.5s ease;
      }
      &:hover {
        .hoverInfo {
          visibility: visible;
          opacity: 1;
          transition: all 0.5s ease;
        }
      }
    }
  }
  .btnCheckTrue {
    border: none;
    background-color: rgb(30, 33, 29);
    padding: 7px;
    border-radius: 100%;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover {
      background-color: green;
      transition: all 0.5s ease;
      border-radius: 100%;
      transition: all 0.5s ease;
      i {
        color: white;
        transition: all 0.5s ease;
      }
    }
    i {
      font-size: 20px;
      color: green;
      transition: all 0.5s ease;
    }
  }
  .btnCheckFalse {
    border: none;
    background-color: rgb(30, 33, 29);
    padding: 7px 10px;
    border-radius: 100%;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover {
      background-color: red;
      transition: all 0.5s ease;
      border-radius: 100%;
      transition: all 0.5s ease;
      i {
        color: white;
        transition: all 0.5s ease;
      }
    }
    i {
      font-size: 20px;
      color: red;
      transition: all 0.5s ease;
    }
  }
  .error {
    color: red;
    font-weight: 900;
    margin-top: 8px;
  }
  .afficheInput {
    display: flex;
    min-height: 36px;
  }
  .formEdit {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    .labelInput {
      display: flex;
      flex-grow: 1;
      label {
        color: white;
        padding: 0 8px;
        display: flex;
        border-bottom: 1px solid white;
        align-items: center;
        justify-content: center;
      }
      input {
        display: flex;
        color: white;
        border: none;
        flex-grow: 1;
        background-color: transparent;
        border-bottom: 1px solid white;
        padding: 8px;
        &::placeholder {
          color: white;
        }
      }
    }
    .focus {
      label {
        color: white;
        border-top-left-radius: 5px;
        padding: 0 8px;
        display: flex;
        border-bottom: 1px solid white;
        align-items: center;
        background-color: rgb(30, 33, 29);
        justify-content: center;
      }
      input {
        display: flex;
        color: white;
        border: none;
        flex-grow: 1;
        background-color: rgb(30, 33, 29);
        border-bottom: 1px solid white;
        padding: 8px;
        &::placeholder {
          color: white;
        }
      }
    }
    button {
      border: none;
      border-bottom: 1px solid white;
      background-color: transparent;
      width: 35px;
      color: white;
      border-top-right-radius: 5px;
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover {
        background-color: rgba(38, 89, 255, 0.19);
        transition: all 0.5s ease;
      }
    }
  }
  .formDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    button {
      background-color: transparent;
      border-radius: 100%;
      border: none;
      padding: 5px;
      width: 35px;
      height: 35px;
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover {
        background-color: rgb(30, 33, 29);
        transition: all 0.5s ease;
      }
      i {
        font-size: 20px;
        color: red;
      }
    }
  }
  .hiddenEdit {
    display: none;
  }
}
.btn {
  color: black;
  display: block;
  background: white;
  border: 1px solid black;
  width: fit-content;
}
.viewList > .separateur,
.index > .separateur {
  border-top: 4px solid white;
  width: 100%;
}
.center {
  text-align: center;
}
.green {
  color: green;
}
.tache {
  overflow: auto;
  margin: 1.5rem 1.5rem;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.error {
  color: red;
  font-weight: 900;
}
table,
td,
th,
tr {
  border: 1px solid #333;
}
.nompre {
  background-color: transparent;
  border: none;
  color: white;
  flex: 1;
  margin-right: 10px;
}
@media screen and (max-width: 854px) {
  body {
    display: flex;
    flex-direction: column;
    .viewList {
      min-width: 100%;
    }
    .viewListImg {
      min-width: 100%;
    }
    section {
      &.create {
        & > div {
          flex-direction: column;
        }
      }
    }
  }
}
